# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
yarn-error.log*
.npm/

# Dependency directories
jspm_packages/

# Build directories
dist/
build/

# Environment variables
.env
.env.test
.env.production

# Runtime files
pids/
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# IDE/Editor-specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript-specific
*.tsbuildinfo
